@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
  background:'blue';
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading{
  color: red;
  width: 100%;
  height: 100vh;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#p1 {
  width:100px;
  height:100px;
}

.p1Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
/*   background: red; */
}

#p1Name {
  font-size: 30px;
}

#p1Health {
  font-size: 50px;
}

#p2{
  width:100px;
  height:100px;
}


.p2Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
/*   background: red; */
}

#p2Name {
  font-size: 30px;
}

#p2Health {
  font-size: 50px;
}

.playerControls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}

.AttackDiv{
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 40px;
  width: 100px;
/*   background: blue; */
}

.HealDiv {
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 40px;
  width: 100px;
/*   background: yellow; */
}

#attack {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  border:none;
  background: #FFFF01;
  outline: none;

}

#heal {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  border:none;
  background: #7DFFFF;
  outline: none;

}

#play {
  height: 50px;
  width: 120px;
  border-radius: 20px;
/*   border:none; */
  background: #02cf02;
  outline: none;
  color: white;
}

#result {
  font-size: 50px;
  color : #3dff3d;
}

#reset {
  margin-top: 20px;
  height: 50px;
  width: 100px;
  border-radius: 20px;
/*   border:none; */
  background: #FF8800;
  outline: none;
  color: white;
}

.resultContainer {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:150px;
  width: 300px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');


html{
    height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a{
    text-decoration: none;
}

footer{
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}


.footer-copyright{
    background-color:#000000;
    color: white;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}

